# Neon.tech'dan olingan PostgreSQL ulanish manzili
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# BotFather'dan olingan Telegram Bot tokeni
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# ngrok orqali olingan Mini App manzili
MINI_APP_URL=https://your-ngrok-url.ngrok-free.app

# Backend server porti
PORT=4000
